@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CityPlace - ночная жизнь твоего города</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="~/Content/styles/landing.css" rel="stylesheet" />
</head>
<body>
    <div class="viewport">
        <div class="container">
            <div class="title">
                <img src="~/Content/images/landing/logo.png" />
            </div>
            <div class="image">
                <img src="~/Content/images/landing/descr.png" />
            </div>
            <div class="description">
                Все о ночной жизни твоего города в твоей мобиле.
            </div>
            <div class="download">
                <a href="http://goo.gl/rusCXG">
                    <img src="~/Content/images/landing/download.png" />
                </a>
                <br />
                <a href="/account/login">Вход для партнеров</a>
            </div>
        </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter26602506 = new Ya.Metrika({
                        id: 26602506,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div>
            <img src="//mc.yandex.ru/watch/26602506" style="position: absolute; left: -9999px;" alt="" />
        </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>
