<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CityPlace.Domain.Properties.Settings.CityPlaceConnectionString"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=CityPlace;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CityPlace.Domain.Properties.Settings.CityPlaceConnectionString1"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=CityPlace;User ID=super;Password=super123"
            providerName="System.Data.SqlClient" />
        <add name="CityPlace.Domain.Properties.Settings.CityPlaceConnectionString2"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=CityPlace;User ID=yk;Password=ykp@ss"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>