<div data-options="dxView : { name: 'about', title: 'О приложении' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px; line-height: 1.5;">City Place</p>
            <p style="padding: 5px; line-height: 1.5;">Твой информатор о события ночной жизни твоего города. Мы предоставляем вам актуальную информацию о ночных клубах, барах, ресторанах и саунах вашего города, а так же информацию о грядущих вечеринках.</p>

            <p style="padding: 5px; line-height: 1.5;">Если вы хотите добавить о себе информацию в нашем приложении или стать нашим партнером, то свяжитесь с нами по телефону (4212) 68-21-74</p>

            <p style="padding: 5px; line-height: 1.5;">Приложение разработано компанией <a href="http://softgears.ru" target="_blank">SoftGears</a>, а именно <a href="https://vk.ru/ykorshev">Юрием Коршевым</a> и <a href="http://vk.com/djhot">Антоном Ходоровским</a>, с сообщениями о различных найденных багах, а так же с вопросами и предложениями, вы можете обращаться на Email: <a href="mailto:yk@softgears.ru">yk@softgears.ru</a>, либо в нашей группе ВКонтакте: <a href="https://vk.com/softgears" target="_blank">https://vk.com/softgears</a></p>
        </div>
    </div>
</div>